# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
cities_df=pd.read_csv("../data/cities.csv")
cities_df.head()

,City,Country,Wind Speed,Cloudiness,Max Temperature,Humidity,Lattitude,Longitude,Date
0,Mbamba,NG,6.64,100,70.86,93,9.9833,13.1000,1627301256
1,Torbay,CA,1.01,96,59.76,96,47.6666,-52.7314,1627301137
2,Pedra Branca,BR,10.40,6,76.68,59,-5.4542,-39.7172,1627301256
3,Mataura,NZ,7.72,100,48.47,94,-46.1927,168.8643,1627301256
4,Kruisfontein,ZA,19.42,100,73.89,21,-34.0033,24.7314,1627301257

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
gmaps.configure(api_key=g_key)

#store coodinates
locations=cities_df[["Lattitude","Longitude"]]

#store humidity
humidity_df=cities_df["Humidity"]
humidity_df.astype(float)

0      93.0
1      96.0
2      59.0
3      94.0
4      21.0
       ...
542    21.0
543    93.0
544    94.0
545    67.0
546    47.0
Name: Humidity, Length: 547, dtype: float64

In [7]:
fig=gmaps.figure(center=(46.0,-5.0),zoom_level=2)
max_humidity=np.max(humidity_df)

#heat layer
heat_layer=gmaps.heatmap_layer(locations,weights=humidity_df,dissipating=False,point_radius=3)

fig.add_layer(heat_layer)


plt.savefig('../Images/Humidity Heatmap.png')
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
personal_climate=cities_df.loc[(cities_df["Wind Speed"]<=20) & (cities_df["Cloudiness"]<=11)
                              &(cities_df["Humidity"]>=25) & (cities_df["Max Temperature"]<=95)
                              &(cities_df["Max Temperature"]>=60)].dropna()
personal_climate

,City,Country,Wind Speed,Cloudiness,Max Temperature,Humidity,Lattitude,Longitude,Date
2,Pedra Branca,BR,10.40,6,76.68,59,-5.4542,-39.7172,1627301256
22,Castro,BR,4.23,0,62.20,52,-24.7911,-50.0119,1627301263
28,Jamestown,US,1.01,1,70.30,98,42.0970,-79.2353,1627301264
32,Big Spring,US,5.75,1,74.68,66,32.2504,-101.4787,1627301265
35,Saint George,US,1.01,1,78.64,70,37.1041,-113.5841,1627301266
...,...,...,...,...,...,...,...,...,...
530,Cortez,US,4.61,1,60.69,94,37.3489,-108.5859,1627301423
533,Price,US,6.91,1,65.12,59,39.5994,-110.8107,1627301424
535,Naantali,FI,6.91,0,88.36,36,60.4674,22.0243,1627301424
539,Mumbwa,ZM,10.98,4,70.70,26,-14.9783,27.0619,1627301426
546,Aykhal,RU,5.10,4,80.24,47,66.0000,111.5000,1627301428

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
hotel_df=personal_climate

hotel_df["Hotel Name"]=""

hotel_df=hotel_df[["City","Country","Lattitude","Longitude","Hotel Name"]]
hotel_df

             City Country  Lattitude  Longitude Hotel Name
2    Pedra Branca      BR    -5.4542   -39.7172
22         Castro      BR   -24.7911   -50.0119
28      Jamestown      US    42.0970   -79.2353
32     Big Spring      US    32.2504  -101.4787
35   Saint George      US    37.1041  -113.5841
..            ...     ...        ...        ...        ...
530        Cortez      US    37.3489  -108.5859
533         Price      US    39.5994  -110.8107
535      Naantali      FI    60.4674    22.0243
539        Mumbwa      ZM   -14.9783    27.0619
546        Aykhal      RU    66.0000   111.5000

[72 rows x 5 columns]

In [11]:
url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params={"type":"hotel",
        "keyword":"hotel",
        "radius":5000,
         "key":g_key}

for index, row in hotel_df.iterrows():
    lat=row["Lattitude"]
    lng=row["Longitude"]
    city_name=row["City"]
    
    params["location"]=f"{lat},{lng}"
    
    print(f'Getting results for index {index}: {city_name}.')
    response=requests.get(url,params=params).json()
          
    results=response["results"]
          
    try:
          print(f"The Closest hotel in {city_name} is {results[0]['name']}.")
          hotel_df.loc[index,"Hotel Name"]=results[0]['name']
    except(KeyError,IndexError):
          print("Missing Information / Skipping")
          
    print("-----------")
          
print("END SEARCH")

Getting results for index 2: Pedra Branca.
The Closest hotel in Pedra Branca is Pousada Pedra Branca.
-----------
Getting results for index 22: Castro.

C:\Users\Nate\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

The Closest hotel in Castro is Central Palace Hotel - Castro (PR).
-----------
Getting results for index 28: Jamestown.
The Closest hotel in Jamestown is Chautauqua Harbor Hotel.
-----------
Getting results for index 32: Big Spring.
The Closest hotel in Big Spring is Hotel Settles.
-----------
Getting results for index 35: Saint George.
The Closest hotel in Saint George is Quality Inn.
-----------
Getting results for index 48: Westport.
The Closest hotel in Westport is Residence Inn by Marriott Norwalk.
-----------
Getting results for index 51: Sangar.
Missing Information / Skipping
-----------
Getting results for index 53: Roald.
The Closest hotel in Roald is Smartrom.
-----------
Getting results for index 56: Albany.
Missing Information / Skipping
-----------
Getting results for index 57: Asău.
The Closest hotel in Asău is Pensiunea Sophia.
-----------
Getting results for index 61: Ponta do Sol.
The Closest hotel in Ponta do Sol is Palace of Zinos.
-----------
Getting results for index 69: Bethel.
The Closest hotel in Bethel is Hampton Inn Danbury.
-----------
Getting results for index 82: Peniche.
The Closest hotel in Peniche is Selina Peniche.
-----------
Getting results for index 90: San Jose.
The Closest hotel in San Jose is Hotel Valencia Santana Row.
-----------
Getting results for index 91: Saint Anthony.
The Closest hotel in Saint Anthony is Hewing Hotel.
-----------
Getting results for index 96: Terenos.
The Closest hotel in Terenos is Hotel Renascer.
-----------
Getting results for index 98: Richards Bay.
The Closest hotel in Richards Bay is BON Hotel Waterfront Richards Bay.
-----------
Getting results for index 99: Shar.
Missing Information / Skipping
-----------
Getting results for index 116: Zalţan.
Missing Information / Skipping
-----------
Getting results for index 151: Rio Bananal.
The Closest hotel in Rio Bananal is Hotel Carolina.
-----------
Getting results for index 153: Saint-Philippe.
The Closest hotel in Saint-Philippe is Les Embruns Du Baril.
-----------
Getting results for index 158: Arraial do Cabo.
The Closest hotel in Arraial do Cabo is Orlanova Boutique Hotel.
-----------
Getting results for index 169: Seoul.
The Closest hotel in Seoul is Grand Hyatt Seoul.
-----------
Getting results for index 190: Cabo San Lucas.
The Closest hotel in Cabo San Lucas is The Cape, A Thompson Hotel.
-----------
Getting results for index 193: Kiryat Gat.
The Closest hotel in Kiryat Gat is Desert Gat.
-----------
Getting results for index 201: Izberbash.
The Closest hotel in Izberbash is Kaspiy.
-----------
Getting results for index 214: Gōtsuchō.
The Closest hotel in Gōtsuchō is Super Hotel Gotsu Ekimae.
-----------
Getting results for index 220: Saint-Joseph.
The Closest hotel in Saint-Joseph is La Case O zoizos.
-----------
Getting results for index 224: Grafton.
The Closest hotel in Grafton is The Grafton Inn.
-----------
Getting results for index 231: Osvaldo Cruz.
The Closest hotel in Osvaldo Cruz is Hotel Eldorado.
-----------
Getting results for index 238: Mossamedes.
The Closest hotel in Mossamedes is Hotel Chik Chik Namibe.
-----------
Getting results for index 245: Grand Gaube.
The Closest hotel in Grand Gaube is LUX Grand Gaube Resort & Villas.
-----------
Getting results for index 254: Çorlu.
The Closest hotel in Çorlu is Hilton Garden Inn Corlu.
-----------
Getting results for index 260: Elizabeth City.
The Closest hotel in Elizabeth City is Fairfield Inn & Suites by Marriott Elizabeth City.
-----------
Getting results for index 261: La Rioja.
Missing Information / Skipping
-----------
Getting results for index 277: Novomykolayivka.
Missing Information / Skipping
-----------
Getting results for index 281: Alekseyevka.
The Closest hotel in Alekseyevka is Hotel "Home-Lux".
-----------
Getting results for index 297: São João da Barra.
The Closest hotel in São João da Barra is Pousada Kactus.
-----------
Getting results for index 301: Rembang.
The Closest hotel in Rembang is Pollos Hotel & Gallery.
-----------
Getting results for index 302: Chicama.
The Closest hotel in Chicama is Balihai Bungalows.
-----------
Getting results for index 313: Pontal do Paraná.
The Closest hotel in Pontal do Paraná is Hotel Pousada Mineirinho.
-----------
Getting results for index 316: Porterville.
The Closest hotel in Porterville is Holiday Inn Express & Suites Porterville, an IHG Hotel.
-----------
Getting results for index 332: Powell River.
The Closest hotel in Powell River is Powell River Town Centre Hotel.
-----------
Getting results for index 340: Goderich.
The Closest hotel in Goderich is Samuels Hotel.
-----------
Getting results for index 354: Orange Cove.
Missing Information / Skipping
-----------
Getting results for index 365: Ukiah.
The Closest hotel in Ukiah is Comfort Inn & Suites Ukiah Mendicino County.
-----------
Getting results for index 366: Halmstad.
The Closest hotel in Halmstad is Hotel Continental Relax & Spa.
-----------
Getting results for index 368: Worland.
The Closest hotel in Worland is Days Inn by Wyndham Worland.
-----------
Getting results for index 385: Nuevo Progreso.
Missing Information / Skipping
-----------
Getting results for index 388: Martapura.
The Closest hotel in Martapura is Grand Dafam Q Hotel Banjarbaru || DHM Syariah.
-----------
Getting results for index 395: Aranda de Duero.
The Closest hotel in Aranda de Duero is Hotel Torremilanos.
-----------
Getting results for index 399: Kensington.
The Closest hotel in Kensington is Sydney Boutique Hotel.
-----------
Getting results for index 405: Marrakesh.
The Closest hotel in Marrakesh is Hotel Zaitoune.
-----------
Getting results for index 423: Langarūd.
The Closest hotel in Langarūd is Hotel RAK.
-----------
Getting results for index 425: Mandan.
The Closest hotel in Mandan is Comfort Inn & Suites Mandan - Bismarck.
-----------
Getting results for index 438: Alpena.
The Closest hotel in Alpena is Big Bear Lodge.
-----------
Getting results for index 443: Peno.
The Closest hotel in Peno is Baza otdykha Orlinka.
-----------
Getting results for index 451: Chapada dos Guimarães.
The Closest hotel in Chapada dos Guimarães is Pousada Penhasco.
-----------
Getting results for index 461: Nortelândia.
The Closest hotel in Nortelândia is Hotel Karysmã.
-----------
Getting results for index 475: Salina.
The Closest hotel in Salina is Homewood Suites by Hilton Salina Downtown.
-----------
Getting results for index 477: Brownsville.
The Closest hotel in Brownsville is OYO Historic Cameron Hotel Brownsville I-69E.
-----------
Getting results for index 478: North Augusta.
The Closest hotel in North Augusta is The Partridge Inn Augusta, Curio Collection by Hilton.
-----------
Getting results for index 486: Half Moon Bay.
The Closest hotel in Half Moon Bay is Cypress Inn On Miramar Beach.
-----------
Getting results for index 507: Banjar.
The Closest hotel in Banjar is Villa Pantai.
-----------
Getting results for index 515: Vilhena.
The Closest hotel in Vilhena is Portinari Palace Hotel.
-----------
Getting results for index 520: Sabinov.
The Closest hotel in Sabinov is Hotel Torysa.
-----------
Getting results for index 528: Lavumisa.
The Closest hotel in Lavumisa is Royal Jozini Big 6 Private Estate.
-----------
Getting results for index 530: Cortez.
The Closest hotel in Cortez is Cozy Inn.
-----------
Getting results for index 533: Price.
The Closest hotel in Price is Holiday Inn Express & Suites Price, an IHG Hotel.
-----------
Getting results for index 535: Naantali.
The Closest hotel in Naantali is Naantali Spa Hotel & Resort.
-----------
Getting results for index 539: Mumbwa.
The Closest hotel in Mumbwa is Fourways Challets Inn.
-----------
Getting results for index 546: Aykhal.
Missing Information / Skipping
-----------
END SEARCH

In [12]:
hotel_df.dropna(how='any')
hotel_df.to_csv('../data/Personal Climate Hotel List.csv')

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lattitude", "Longitude"]]

In [14]:
# Add marker layer ontop of heat map
markers=gmaps.marker_layer(locations,info_box_content=hotel_info)


# Display figure
fig.add_layer(markers)

fig

Figure(layout=FigureLayout(height='420px'))